/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';

/*body {
  margin: 0;
  padding: 0px;
}*/

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // nos hará breakpoints cada 300px
}

/*
@media (min-width: 576px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width:768px) {
  .product-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width:992px) {
  .product-grid {
      grid-template-columns: repeat(4, 1fr);
  }
}*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
